<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <title>Prime Number Calculator</title>
    <link rel="stylesheet" href="/public/main.css"/>
</head>
<body>
    <h1>Prime Number checker</h1>
            <style>
            body {padding-top:50px} 
            </style> 
            <main>
            <body>
        <form id="check" name = "checkprime">
            <label for="text1">Enter a Number : </label>
            <input type="number" id="text1" required></input>
            <button type="submit" class="button" id="button1" >Submit</button>
            </form>
                <!-- <p id="Result"></p> -->
                <ol id="attempts"></ol>
                </main>

<script src="/public/test.js">  
</script>      
<footer>
    <p class="sansserif">Parth Parab</p>
    <p class="sansserif">CWID: 10444835</p>
    <p class="sansserif">This has been a really tricky assignment not gonna lie</p>
</footer>    
</body>

</html>
